<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap.min.css' | theme }}">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{{ 'assets/fontawesome/css/all.min.css' | theme }}">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
	<!-- Custom Style -->
	<link rel="stylesheet" href="{{ 'assets/css/style.css' | theme }}">

	<!-- <script async src="assets/js/jquery.min.js"></script> -->
	<script src="{{ 'assets/js/jquery.min.js' | theme }}"></script>
	<!-- Bootstrap JS -->
	<script defer src="{{ 'assets/js/popper.min.js' | theme }}"></script>
	<script defer src="{{ 'assets/bootstrap/js/bootstrap.min.js' | theme }}"></script>
	<!-- Custom JS -->
	<script defer src="{{ 'assets/js/script.js' | theme }}"></script>
	<!-- Splide JS Slider -->