<header id="header">
		<div class="header-wrapper">
			<div class="topbar bg-blue">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-12 col-md-6">
							<ul class="top-contact-list list-group flex-column flex-sm-row justify-content-between justify-content-md-start align-items-center">
								<li class="list-group-item p-0 bg-transparent border-0">
									<a class="text-decoration-none text-white opacity-8 opacity-hover" href="mailto:info@igcpk.com"><i class="bi bi-envelope-fill"></i> info@igcpk.com</a>
								</li>
								<li class="list-group-item p-0 bg-transparent border-0">
									<a class="text-decoration-none text-white opacity-8 opacity-hover" href="tel:+9242111333777"><i class="bi bi-telephone-fill"></i> +92 42 111-333-777</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 text-sm-end d-none d-md-block">
							<div class="topbar-serach d-inline-block position-relative">
								<button type="button" class="btn py-2 text-white opacity-8 opacity-hover bg-transparent no-focus">
									<i class="fas fa-search"></i>
								</button>
								<div class="search-overlay">
									<form method="get" class="site-searchform" action="#">
										<div class="w-search-form-h">
											<div class="w-search-form-row">
												<div class="w-search-input">
													<input type="search" class="field searchform-s no-focus" name="s" placeholder="Type Word Then Enter...">
													<button type="submit" class="bg-blue">
														<i class="fas fa-search"></i>
													</button>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>

							<div class="language-container d-inline-block">
								<div class="language">
									<select class="form-select bg-transparent border-0 text-white opacity-8 opacity-hover white-arrow pt-0 pb-0 no-focus" aria-label="Language">
										<option selected>English</option>
										<option value="1">Urdu</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-wrap">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-12">
							<nav class="navbar navbar-expand-lg navbar-blue">
								<a class="navbar-brand logo" href="index.html">
									<img src="{{ 'assets/images/logo@2x.png' | theme }}" alt="Ibrahim Fibres Limited">
								</a>

								<button onclick="showNav()" class="navbar-toggler p-0 border-0 color-blue no-focus" type="button">
									<span class="navbar-toggler-icon"></span>
								</button>

								<div class="navbar-collapse" id="navbars">
									<ul class="navbar-nav ms-auto">
										<li class="nav-item">
											<a class="nav-link active" href="/">Home</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Company</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Governance</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Investor Relations</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Media Room</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Election Of Directors</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Investor Information</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Careers</a>
										</li>
										<li class="nav-item cta-btn">
											<a class="btn text-white bg-blue fw-bold nav-link" href="/contact-us">Contact Us</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- /header -->