url = "/board-of-directors"
layout = "main"
title = "Board Of Directors"
description = "Board Of Directors"

[builderList]
modelClass = "Virtuenetz\Director\Models\Director"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "order"
sortDirection = "asc"
==
<section class="page-title-wrapper p-0">
	<div class="container-fluid px-0">
		<div class="row g-0">
			<div class="col-md-12">
				<div class="h-100 w-100 page-title-wrap bg-2 d-flex align-items-center justify-content-end">
					<div class="page-title-wrap-inner full text-center position-relative">
						<h1 class="page-title">{{ this.page.title }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<main class="main">

	<section class="bd-team">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-7">
					<h2 class="sec-title">Our team of experienced professionals to <em>get fast profit</em></h2>
				</div>
			</div>
		</div>


		<div class="container-fluid p-0">
			<div class="row g-0 justify-content-center team-wrap">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

			{% for director in records %}
			{% spaceless %}
				<div class="col-sm-6 col-md-3">
					<div class="single-team-box {% if director.avatar == null %} no-avatar {% endif %}">
						<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modalTeam{{ director.id }}">
							<div class="team-avatar">
							{% if director.avatar == null %}
								<img src="{{ 'assets/images/thumbnail@2x.png' | theme }}" alt="">
							{% else %}
								<img src="{{ director.avatar | media }}" alt="">
							{% endif %}
							</div>
							<div class="team-hover">
								<div class="d-flex justify-content-center h-100 w-100">
									<div class="personal-info align-self-center">
										<h3 class="team-mmb-name">{{  director.name }}</h3>
										<span>{{ director.designation }}</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endspaceless %}
			{% endfor %}
			</div>
		</div>
	</section>

	<!-- Modal -->

	{% for director in records %}
	<div class="modal fade" id="modalTeam{{ director.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header align-items-baseline">
					<div class="modal-title">
						<h3>{{ director.name }}</h3>
						<h4>{{ director.designation }}</h4>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p><strong>{{ director.address }}</strong></p>
					<p>{{ director.details }}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

</main>