url = "/notices-of-agm"
layout = "main"
title = "Notices of AGM"

[builderDetails]
modelClass = "Virtuenetz\Pdf\Models\Category"
identifierValue = "notices-agm"
modelKeyColumn = "slug"
displayColumn = "slug"
notFoundMessage = "Record not found"
==
{% put extralinks %}
<!-- Flipbook StyleSheet -->
<link rel="stylesheet" href="{{ 'assets/pdf/css/dflip.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/pdf/css/themify-icons.css' | theme }}">

<!-- Flipbook JS -->
<script src="{{ 'assets/pdf/js/dflip.js' | theme }}"></script>
<script src="{{ 'assets/pdf/js/pdf.js' | theme }}"></script>
{% endput %}

<section class="page-title-wrapper p-0">
	<div class="container-fluid px-0">
		<div class="row g-0">
			<div class="col-md-12">
				<div class="h-100 w-100 page-title-wrap bg-4 d-flex align-items-center justify-content-end">
					<div class="page-title-wrap-inner full text-center position-relative">
						<h1 class="page-title">{{ this.page.title }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<main class="main management">
	<section class="m-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% if record %}
					{% for pdf in record.pdfs %}
							<div class="_df_thumb"
							source="{{pdf.file | media}}"
							id="df_2533"
							thumb="{{ pdf.thumb | media }}">
							{{ pdf.title }}</div>
						{% endfor %}
					{% else %}
					    {{ notFoundMessage }}
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</main>